<article>
  <h2><%= name %></h2>
  <p><%= description %></p>
  <p class="screenshot big">
    <img src="<%= images.first %>">
  </p>
  <div class="row">
    <% images.each do |image| %>
      <div class="large-4 columns">
        <p class="screenshot small <%= 'selected' if image == images.first %>">
          <a href="#">
            <img src="<%= image %>">
          </a>
        </p>
      </div>
    <% end %>
  </div>
</article>
